:root, body.light {
    --primary: orange;
    --on-primary:#ffffff;
    --primary-container:#ffdbc9;
    --on-primary-container:#321200;
    --secondary:#765847;
    --on-secondary:#ffffff;
    --secondary-container:#ffdbc9;
    --on-secondary-container:#2b160a;
    --tertiary:#626033;
    --on-tertiary:#ffffff;
    --tertiary-container:#e9e5ab;
    --on-tertiary-container:#1e1d00;
    --error:#ba1a1a;
    --on-error:#ffffff;
    --error-container:#ffdad6;
    --on-error-container:#410002;
    --background:#fffbff;
    --on-background:#201a17;
    --surface:#fff8f5;
    --on-surface:#201a17;
    --surface-variant:#f4ded4;
    --on-surface-variant:#52443c;
    --outline:#85746b;
    --outline-variant:#d7c2b8;
    --shadow:#000000;
    --scrim:#000000;
    --inverse-surface:#362f2c;
    --inverse-on-surface:#fbeee9;
    --inverse-primary:#ffb68c;
    --surface-dim:#e4d8d2;
    --surface-bright:#fff8f5;
    --surface-container-lowest:#ffffff;
    --surface-container-low:#ffffff;
    --surface-container:#f8ebe6;
    --surface-container-high:#f2e6e0;
    --surface-container-highest:#ece0db;
}